<div>
  <div>
  	<% @movies.each do |movie| %> 
			<div> 
        <p><%= movie.title %></p>
        <img src="<%= movie.img_src %>">
        <p><%= movie.summary %></p>
      </div> 
      <%= link_to "See more", movie_path(movie) %>
		<% end %>
		<%= link_to 'New Movie', new_movie_path %>
  </div>
</div>
