<div>
    <div>
        <%= form_with(url: "/movies", method: "get") do %>
            <%= label_tag(:movie, "Create new movie") %>
            <%= text_field_tag(:title) %>
            <%= text_field_tag(:summary) %>
            <%= text_field_tag(:description) %>
            <%= text_field_tag(:img_src) %>
            <%= submit_tag("Search") %>
      <% end %>      
    </div>
</div>